<%= render 'layouts/admins' %>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h2><%= @customer.surname + @customer.first_name + "さんの会員情報編集" %></h2>
      <%= form_with(model: @customer, url:"/admins/customers/#{@customer.id}",local: true) do |f| %>
        <table class="table">
          <tr>
            <th class="th">会員ID</th>
            <td class="td"><%= @customer.id %></td>
          </tr>
          <tr>
            <th class="th">氏名</th>
            <td class="td"><%= f.text_field :surname %></td>
            <td class="td"><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th class="th">フリガナ</th>
            <td class="td"><%= f.text_field :surname_kana %></td>
            <td class="td"><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th class="th">郵便番号</th>
            <td class="td"><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th class="th">住所</th>
            <td class="td"><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th class="th">電話番号</th>
            <td class="td"><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <th class="th">メールアドレス</th>
            <td class="td"><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th class="th">会員ステータス</th>
            <td class="td">
              <%= f.radio_button :status, :true %>有効
              <%= f.radio_button :status, :false %>退会済み
            </td><!-- 有効か退会済みかのラジオボタンを追加する -->
          </tr>
        </table>
        <%= f.submit "変更を保存する", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>