<%= render 'layouts/admins' %>
<div class="container">
	<div class="row">
		<h2>会員一覧</h2>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th class="th1">会員ID</th>
					<th class="th2">氏名</th>
					<th class="th3">メールアドレス</th>
					<th class="th4">ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td><%= link_to customer.surname + customer.first_name, admins_customer_path(customer) %></td>
					<td><%= customer.email %></td>
					<td><% if customer.deleted? %>
						退会済
						<% else %>
						有効
						<% end %>
					</td><!-- ここの記述を変更する必要がある -->
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @customers %>
	</div>
</div>
