<%= render 'layouts/customers' %>
<div class="row">
	<div class="col-xs-3 genre_search">
        <table class="table table-bordered">
			<thead>
				<tr>
					<th>ジャンル検索</th>
				</tr>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
    				<tr><td><%= link_to genre.name, "/customers/genres/#{genre.id}" %></td></tr>
				<% end %>
			</tbody>
	    </table>
    </div>
<!--     <div class="col-xs-1"></div>
 -->    <div class="col-xs-8 box-1 ">
    	<div class="row">
    	    <div class="col-xs-11 site_image">
	            <div class="site_description">
	            	ようこそ、NaganoCakeへ！<br>
	                このサイトは、ケーキ販売のECサイトになります。<br>
	                会員でない方も商品の閲覧はできますが、<br>
	                購入には会員登録が必要となります。
	            </div>
	        </div>
	        <div class="col-xs-12">
	        	<h2 class="item-headline">オススメ商品</h2>
	        	<div class="flex">
	        	    <% @random.each do |item| %>
	        	        <div><%= attachment_image_tag(item, :image, :fill, 120, 120) %><br>
	        	             <%= item.name %><br>
	        	             ￥<%= item.price_with_tax %><br>
	        	        </div>
	        	    <% end %>
	        	</div>
	        	<div class="see_more">
	        	    <div><%= link_to 'もっと見る>', customers_items_path %></div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>

<%= render 'layouts/footer' %>